parameters:
    level: 8
    bootstrapFiles:
        - vendor/cakephp/cakephp/tests/bootstrap.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    paths:
        - src
    ignoreErrors:
        -
            message: '#Access to an undefined property Cake\\View\\View::\$Character.#'
            path: src/View/Cell/CharacterCell.php
